* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; 
    margin-left: 5em;
    margin-right: 5em;
}

a {
    color: #0645AD; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #D44500; 
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    font-size: 16px;
}

h1, h2 {
    color: #005BBB;
    font-family: Survivant
}

iframe {
    max-width: 100%;
    height: auto;
}


:focus {
    outline: 3px solid #005BBB; 
}

.history-section, .newstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto
}

.history-title {
    font-size: 5em;
    text-align: center;
}

.history-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.history-nav button {
    background-color: #D44500; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.history-nav button:hover {
    background-color: #f57d31;
}

.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding: 20px;
}

.circle {
    border: 2px solid #005BBB; 
    border-radius: 100%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background-color: white; 
    margin: auto; 
}

.circle img {
    width: 100%;
    height: auto;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bottom-nav div {
    text-align: center;
}

.bottom-nav a {
    display: block;
    color: #0645AD; 
    margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
    .circle-container {
        justify-content: center;
    }

    .history-nav, .bottom-nav {
        flex-direction: column;
    }

    .history-nav button, .bottom-nav a {
        margin-bottom: 10px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
    .prodtypes {
        flex-wrap: wrap;}

    #thumbnails {
        flex-wrap: wrap;}

    .hosts-container {
        flex-direction: column;
        align-items: center;
    }
    .host-circle {
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        overflow-x: auto;
        display: block;
        font-size: 50%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-title);
    }
    main {
        margin: 5px;
    }

}

.circle:focus-within {
    outline: 3px solid #f57d31; 
}

@font-face { font-family: Survivant; src: url('../fonts/survivant.ttf'); } 
    body {
        font-family: 'Jost', sans-serif;
        padding: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
    }
    th a {
        text-decoration: underline;
    }
    th a:hover {
        background-color: #ffcc00;
        cursor: pointer;
    }
    /* .back-to-history {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px 0;
        font-size: 16px;
        text-decoration: none;
        background-color: #f4f4f4;
        color: #333;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    } */

    th:first-child, td:first-child {
        background: linear-gradient(to bottom, #ffcc66, #ff9966);
        color: #333;
    }
    th:nth-child(2), td:nth-child(2) { background-color: #add8e6; }
    th:nth-child(3), td:nth-child(3) { background-color: #90ee90; }
    th:nth-child(4), td:nth-child(4) { background-color: #ffb6c1; }
    th:nth-child(5), td:nth-child(5) { background-color: #87cefa; }
    th:nth-child(6), td:nth-child(6) { background-color: #dda0dd; }
    th:nth-child(7), td:nth-child(7) { background-color: #ffdead; }

.host-circle {
    border: 2px solid #005BBB; 
    border-radius: 50%;
    width: 150px; 
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 15px; 
}

.host-circle img {
    border: 2px solid #005BBB; 
    border-radius: 50%;
    width: 150px; 
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background-color: white; 
    margin: auto; 
}
.hosts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hostname {
text-align: center;
font-family: Survivant;
font-size: 1.2em;
}

.sznhost {
    text-align: center;
    font-family: Survivant;
    font-size: .9em;
}

.maintext {
    font-family: 'Jost','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: left;
    text-align: left;
}

.secheader {
    text-align: center;
    font-size: 3em;
    margin-top: 10px; 
    margin-bottom: 10px;
}

footer {clear: both;}

.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: top;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: white;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.skip{
    background-color: #ffbf00;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: -999px; 
}
.skip:focus {
    left: 10px;
}

.torch1 {width: 25px}
.torch2 {width: 25px}
.giantpic {width: 800px;   display: block;
    margin-left: auto;
    margin-right: auto;}

@media only screen and (max-width: 800px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-title);
    }

} 

.prodtypes {display: flex; justify-content: space-between;}
.pth {font-weight: bold; font-size: 1.5em; font-family: 'Archivo Black', sans-serif;}

.lpt {margin-right: 30px}
.rpt {margin-left: 30px}
.lpt, .rpt, .mpt {flex: 1}

.form1 {display: block; padding: 50px; margin-top: 20px;}
.formname {font-size: 20px;}

#brody, #ryan, #jordan, #annie, #odie {display: none; width: 450px;}
#damon {width: 450px;} 
#thumbnails {display: flex; clear: both; flex-wrap:wrap; flex: 1; justify-content: space-between; width: 200px;}

#ebintro {display: flex; flex: 2;}
#slideshow-container {display: flex; flex-wrap: wrap;}
#bigimages {flex: 1.2;}

.button {
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    border-radius: 2em;
    cursor: grab;
  }
  
.fresh {float: right; width: 500px; padding: 50px; margin-left: 20px}

#indexfooter {clear: both;} 

.descript {margin-top: 10px;}

.recepteps, .newapps, .recep, .recrecap, .newbapp, .vetapp {display: flex; flex-wrap: flex;}
.recep, .recrecap {justify-content: space-between;}
.episode, .recapshow {width: 800px; height: 400px;}

.mediaflex {display: flex; flex-wrap: wrap; justify-content: space-around;}

.googform {width: 650px; height: 1000px;}

.crewjoin {display: flex; flex-wrap: wrap;}
.instagram-media {width: 500px; height: 300px;}