h1 {font-size: 2.5em;}
h2 {font-size: 1.5em;}


body {background-color: #f4d579; color: #000000;}
a {color:#4286f4}
h1, h2, h3 {color:#219C90;}
nav {background-color:#f187e1;}
nav a:hover{background-color:#ffffff;}
nav a {color:#D83F31;}
nav {padding: 10px;}
nav {margin-bottom: 30px}

.motto {float: right; margin-top: 0px;}

.sec0, .sec5 {display: flex; padding: 20px;}
.sec1, .sec2, .sec3, .sec4 {margin: 30px}
.sec1 {margin-right: 400px}
.sec0 {flex: 1; order: 1; background-color: #e592aa; border-radius: 1em}
.sec5 {flex: 1; order: 2; background-color: #a196e4; border-radius: 1em}
.sec3 {margin-right: 200px;}
.sec2 {padding: 10px}
.sec4 {flex: 2}

.sec0, .sec5 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 150;}

