body {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1, h2 {color:lightcoral;}
.evenrow {background-color:lightgray;}
h1 {font-size: 2.5em;}
h2 {font-size: 1.5em;}